body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f5f5f5;
}

h2 {
    text-align: center;
}

.buttons {
    text-align: center;
    margin-bottom: 15px;
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: separate;
    background: rgb(199, 240, 239);
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.completed {
    background-color: #a4f09f;
}

.pending {
    background-color: #e47777;
}
